<!-- CSS -->
<link rel="stylesheet" href="assets/css/background-true.css">
<!-- icone personalisé -->
 <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Knewave&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
 

 <div id="welcomeContainer" style="display: none;">
    <div id="welcomeBackground"></div>

    <div id="welcomeContent">
        <div id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></div>
        <!-- <span id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></span> -->

        <div id="welcome_ContenerButton">
            <div id="welcomeButton"><%- lang('welcome.continueButton') %></div>
        </div>
        
        <!-- <button id="welcomeButton">
            <div id="welcomeSVG"></div>
            
            <%- lang('welcome.continueButton') %>
            <div id="welcomeButtonContent">
                <div id="welcomeButton_personalise">
                    <%- lang('welcome.continueButton') %>
                </div>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button> -->
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>